@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  body {
    @apply bg-darkBlue;
  }
}

.tiptap {
  >*+* {
    margin-top: 0.75em;
  }
}

input[type="checkbox"] {
  margin-right: 8px;
}

.tippy-box {
  @apply bg-white;
  @apply dark:bg-stone-400;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  @apply dark:shadow-none;
  @apply rounded-lg;
  max-width: 100% !important;
  display: inline-flex;
}

.tippy-box .tippy-content .bubble button {
  padding: 0.5em 1em;
  opacity: 0.5;
  @apply rounded-lg;
  margin: 0.25rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 500;
  @apply transition-opacity;
  @apply transition-colors;
  @apply duration-200;
  @apply ease-in-out;
  /* transition: opacity .2s cubic-bezier(0.16, 1, 0.3, 1), background .2s cubic-bezier(0.16, 1, 0.3, 1); */
}

.tippy-box .tippy-content .bubble button:hover {
  @apply opacity-80;
  @apply bg-stone-100;
  @apply dark:bg-stone-400;
  @apply transition-opacity;
  @apply transition-colors;
  @apply duration-200;
  @apply ease-in-out;
  /* transition: opacity .2s cubic-bezier(0.16, 1, 0.3, 1), background .2s cubic-bezier(0.16, 1, 0.3, 1); */
}

.tippy-box .tippy-content .bubble button.is-active {
  font-weight: 600;
  /* background: #f0f0f0; */
  @apply bg-stone-300;
  @apply dark:bg-stone-600;
  @apply opacity-100;
}

.is-active {
  font-weight: 800;
}

.tiptap {
  padding: 1em;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.prose h1 {
  font-size: 2.8rem;
}

.prose h2 {
  font-size: 2rem;
}

.prose h3 {
  font-size: 1.8rem;
}

.tiptap p.is-editor-empty:first-child::before {
  color: rgba(0, 0, 0, 0.25);
  font-weight: 500;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.is-editor-empty:before {
  @apply text-stone-300 !important;
  @apply dark:text-stone-700 !important;
}

li:last-of-type .card {
  @apply border-b-0
}

.card {
  transition: background .2s ease;

  a {
    text-decoration: underline;
  }
}